<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/LDIProjectHub/css/style.css') }}" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/LDIProjectHub/css/featureBox.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/LDIProjectHub/css/bootstrap.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>

	<title>{% block title %}{% endblock %}</title>	<!-- Title input -->

	{% endblock %}
</head>


<body>

<!-- 	Navegation Bar  -->

<div class="navbarBackground"></div>	
<div class="container">		<!-- This container will put every contant in the page in middle, 1200px width. -->

	<div class="navbar">
	  <ul class="left"> 
		<li><a href="#">LDI ProjectHub</a></li> 
		<li><a href="#">LDI Blog</a></li> 
		<li><a href="#">CareerHub</a></li> 
	  </ul> 
	  <ul class="right">
	  	<li><a href="#">Register</a></li>
	  </ul>
	</div>
</div>


<!-- LDI Title -->

<div class="header">
	<div class="container">	
		<div class="title">
			<p class="ldi">LDI</p><p class="ph">Project Hub</p>
			<div class="bootstrap">
				<form class="form-horizontal loginForm" role="form">
				  <div class="form-group">
				  	<p> Login </p>
				    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox"> Remember me
				        </label>
				      </div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default">Sign in</button>
				    </div>
				  </div>
				</form>
			</div>
			<img src="{{ asset('bundles/LDIProjectHub/images/01d.png') }}" class="titlePicture" alt="titlePicture" />
		</div>



<!-- Feature Project -->

<script type="text/javascript" src="{{ asset('bundles/LDIProjectHub/js/featureBox/jquery-1.2.6.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/LDIProjectHub/js/featureBox/jquery-easing-1.3.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/LDIProjectHub/js/featureBox/jquery-easing-compatibility.1.2.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/LDIProjectHub/js/featureBox/coda-slider.1.1.1.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/LDIProjectHub/js/featureBox/featureBox.js') }}"></script>

		<div id="page-wrap">
												
			<div class="slider-wrap">
				<div id="main-photo-slider" class="csw">
					<div class="panelContainer">

						<div class="panel" title="Panel 1">
							<div class="wrapper">
								<img src="{{ asset('bundles/LDIProjectHub/images/tempphoto-1.jpg') }}" alt="temp" />
								<div class="photo-meta-data">
									Lorem ipsum dolor sit amet<br />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, ad.</span>
								</div>
							</div>
						</div>
						<div class="panel" title="Panel 2">
							<div class="wrapper">
								<img src="{{ asset('bundles/LDIProjectHub/images/tempphoto-2.png') }}" alt="temp" />
								<div class="photo-meta-data">
									Lorem ipsum dolor sit amet.<br />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, ipsum!</span>
								</div>
							</div>
						</div>		
						<div class="panel" title="Panel 3">
							<div class="wrapper">						
								<img src="{{ asset('bundles/LDIProjectHub/images/tempphoto-3.jpg') }}" alt="scotch egg"/>
							</div>
						</div>
						<div class="panel" title="Panel 4">
							<div class="wrapper">
								<img src="{{ asset('bundles/LDIProjectHub/images/tempphoto-4.jpg') }}" alt="temp" />
							</div>
						</div>

					</div>
				</div>
				<div id="movers-row">
					<div><a href="#4" class="cross-link"></a></div>
					<div><a href="#3" class="cross-link"></a></div>
					<div><a href="#2" class="cross-link"></a></div>
					<div><a href="#1" class="cross-link active-thumb"></a></div>
				</div>

			</div>
		
		</div>

	</div> <!-- End of Container -->
</div> <!-- End of Header -->



<!-- Category and View  -->

<div id="breadcrumb">
	<ul class="crumbs">
		<li class="first"><a href="#" style="z-index:9;"><span></span>Blog Home</a></li>
		<li><a href="#" style="z-index:8;">Archives</a></li>
		<li><a href="#" style="z-index:7;">2011 Writing</a></li>
		<li><a href="#" style="z-index:6;">Tips for jQuery Development in HTML5</a></li>
	</ul>
</div>

<div class="container">	
	<div class="content">
		<div class="category">
			<ul class="left">
				<li><a href="#">categroy 1</a></li>
				<li><a href="#">categroy 2</a></li>
				<li><a href="#">categroy 3</a></li>
				<li><a href="#">categroy 4</a></li>
			</ul>
			<ul class="right"> 
				<li>View By : </li>
				<li>
					<select name ="viewBy">
					  <option value="something">something</option>
					  <option value="something">something</option>
					  <option value="something">something</option>
					  <option value="something">something</option>
					</select>
				</li>
			</ul>
		</div>


<!-- 	 This section should be auto generated using SQL, this is a demo HTML table  --> 


<div class="displayProjects">
	<table class="projects">
		<tr>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 1</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, quas aspernatur ipsam numquam magnam minima officia nesciunt deleniti sunt impedit!</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 2</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatibus ea aut rem repellendus iure accusantium reiciendis eaque non ullam.</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 3</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, praesentium inventore molestias nobis eum doloremque eaque a provident vero aperiam.</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 1</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, accusamus necessitatibus dignissimos libero laboriosam sapiente veniam culpa architecto a eius.</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 2</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, eaque magnam aperiam placeat repudiandae repellendus incidunt ipsa eligendi nemo nesciunt.</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
			<td>
				<div class="box">
					<img src="#" alt="" />
					<h2 class="projectTitle">Title 3</h2>
					<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, obcaecati, asperiores at corporis beatae dolor explicabo alias suscipit libero laboriosam.</p>
					<p class="tags"><a href="#">Category</a><a href="#">Skill</a></p>
					<div class="percetage"><div class="percetageDone"></div></div>
					<p class="status">
						<span class="left">Project</span>
						<span class="middle">Status</span>
						<span class="right">Here</span>
					</p>
				</div>
			</td>
		</tr>
	</table>
</div>
</div>
</body>

</html>



